<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="Default Suite">
    <test verbose="2" preserve-order="true"  thread-count="4" parallel="classes" name="C:/Users/User/onlineBooksTest/onlineBooksTest.iml">
        <classes>
            <class name="addtoCart"></class>
            <class name="loginTest"></class>
            <class name="searchFunctionalityTest"></class>
            <class name="resetFunctionality"></class>
        </classes>
    </test></suite>